$primaryColor: #5cadd2;

.navLinks,
.userLinks,
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    box-shadow: .5px .5px 10px #5857576c;
    z-index: 9999;
}

.userLinks,
.navLinks {
    gap: 1rem;
}

a.active {
    // padding-bottom: 5px;
    border-bottom: 2px solid $primaryColor;
    color: $primaryColor;
}

.userInfo {
    font-size: 1rem;
    color: $primaryColor;
}

.btn {
    background: #b40606;
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.5rem;
}