.inspirationSection {
    text-align: center;
    padding: 5rem;

    .inspSpeech {
        position: relative;
        
        &::after {
            position: absolute;
            content: '" "';
            font-size: 20rem;
            color: #d25ca1;
            top: -200%;
            left: 30%;
            z-index: -100;
            opacity: .2;
            transform: skewX(-30deg);
            transform: skewY(-10deg);
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
  
    cite {
      font-size: 1.2rem;
    }
  
    .socialDeck {
      margin-top: 1rem;
      ul {
        font-size: 1.2rem;
        li {
          display: inline;
          padding-inline: 1rem;
  
          a {
            font-size: 1rem;
            cursor: pointer;
          }
        }
  
      }
    }

    .cta {
        width: 10rem;
        background-color: #d25ca1;
        padding: 10px;
        margin-top: 1rem;

        &:hover {
            background-color: #f590c4;
        }

    }
}