$header-font-size: 40px;
$header-color: #555;
$header-margin: 8rem;
$primaryColor: #5cadd2;
$secondaryColor: #f27cb1;

.container {
//   display: flex;
//   flex-direction: column;


    .header {
      font-size: $header-font-size;
      color: $header-color;
      margin-top: $header-margin;
      display: flex;
      justify-content: space-around;

    }

    .products {
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      max-width: 1400px;
      border-top: 2px solid #999;
      padding-top: 2rem;
    }

    .emptyCart {
      width: 100%;
      height: 50dvh;
      text-align: center;
      border-top: 2px solid #999;
      margin: 0 25px;
      align-self: center;
      font-size: 20px;
      padding-top: 20px;
    }

    .btn {
      width: 10rem;
      height: 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5rem auto;
      
      &:hover {
          color: $secondaryColor;
      }
  }
  

  .rightSidebar {
    min-width: 330px;
    max-width: 330px;
    margin: 0 50px 0 25px;

    h2 {
      font-size: $header-font-size;
      color: $header-color;
      margin-top: $header-margin;
      text-align: center;
    }
  }
}
